<!DOCTYPE html>
<html>
  <head>
    <title>Warframe Market</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon.ico">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" type="(text/css)" href="../site.css">
  </head>
  <body id="body">
    <header>
      <nav>
        <ul id="mainNav">
          <li><a href='/'>Home</a></li>
          <li><a href='/about'>About</a></li>
          <li><a href="#">Search</a></li>
          <li><a href="#">Profile</a></li>
        </ul>
        <ul id="categories">
          <li><a href="#">Warframe Sets</a></li>
          <li><a href="#">Weapon Sets</a></li>
          <li><a href="#">Mods</a></li>
          <li><a href="#">Rivens</a></li>
          <li><a href="#">Others</a></li>
        </ul>
      </nav>
    </header>
