html {
  background-color: white;
}
body {
  background-color: white;
  background-image: linear-gradient(#8c68ba, #674099);
  margin: auto;
  position: relative;
}
header {
  text-align: center;
  background-color: black;
}
a {
  text-decoration: none;
}
nav {
  margin: -15px;
  padding: auto;
}
nav a {
  background-color: #d4d4d4;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 0 10px;
  display: block;
}
ul {
  list-style-type: none;
  /* margin: 0; */
  padding: 0;
  background-color: #d4d4d4;
}
li {
  display: inline-block;
}
#mainNav {
  color: #50a3a0;
}
a:hover {
  color: #41807d;
  background-color: #9e9e9e;
}
p {
  text-align: center;
  font-size: 25px;
  display: block;
  padding: 0 10px;
}
main {
  clear: both;
}
blockquote {
  text-align: center;
}
#events {
  visibility: hidden;
  position: fixed;
  width: 500px;
  height: 340px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  border-radius: 10%;
  text-align: center;
  background-color: #8677a8;
}
#bnSButton {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
#buttonImg {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 98px;
  height: 98px;
  border-radius: 50%;
}
#buttonImg:hover, #bnSButton:hover {
  transform: scale(1.01);
}
#buttonImg:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
#bnSPopUp {
  visibility: hidden;
  position: fixed;
  width: 500px;
  height: 340px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  border-radius: 10%;
  text-align: center;
  background-color: #8677a8;
}
#xButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.3);
}
#xButtonImg:hover, #xButton:hover {
  transform: scale(1.01);
}
#xButtonImg:hover {
  background-color: rgba(200, 255, 255, 0.3);
}
#xButtonImg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.bnSTag {
  margin-left: -50px;
}
.bnSinput:hover {
  border-color: #6d8899;
}
#buy, #sell {
  width: 40px;
  height: 25px;
  color: black;
  background-color: #d3d8db;
  margin-right: 10px;
}
#buy {
  background-color: #4a6078;
}
#buy:hover, #sell:hover, #submit:hover {
  background-color: #6d8899;
  cursor: pointer;
}
footer {
  background-color: #c7c7c7;
  margin: auto;
  text-align: center;
  margin: -25px;
}