html {
  background-color: white;
}
body {
  background-color: white;
  background-image: linear-gradient(#8c68ba, #674099);
  margin: auto;
  position: relative;
}
header {
  text-align: center;
  background-color: black;
}
a {
  text-decoration: none;
}
nav {
  margin: -15px;
  padding: auto;
}
nav a {
  background-color: #d4d4d4;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 0 10px;
  display: block;
}
ul {
  list-style-type: none;
  /* margin: 0; */
  padding: 0;
  background-color: #d4d4d4;
}
li {
  display: inline-block;
}
#mainNav {
  color: #50a3a0;
}
a:hover {
  color: #41807d;
  background-color: #9e9e9e;
}
p {
  text-align: center;
  font-size: 25px;
  display: block;
  padding: 0 10px;
}
main {
  clear: both;
}
blockquote {
  text-align: center;
}
footer {
  background-color: #c7c7c7;
  margin: auto;
  text-align: center;
  margin: -25px;
}