<%- include('../template/header.ejs') %>
<main>
  <p>Welcome to the home page! (<strong>In progress</strong>)</p>
  <p>This is the proposal look:</p>
  <blockquote><img src="/docs/homePage.PNG" alt="Screenshot of layout"></blockquote>
</main>
<%- include('../template/footer.ejs') %>